/bin/
/build/bin/
/release/
/.wails/

/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/dist/*
!/frontend/dist/
!/frontend/dist/.gitkeep
/frontend/package.json.md5
/.tools/

*.exe
*.dll
*.so
*.dylib
*.log
.env
.env.*
/frontend/tsconfig.tsbuildinfo
